/*
This CSS can be used to create a mini-player on play.google.com
To use this CSS, you must first install the `User CSS` extension
in Safari. Once you've done that, open the configuration by
right-clicking on any webpage and selecting `Manage User CSS`.
Use the `New User CSS` option to create a new configuration with
the following values:
Name: MiniGPlayMusic
URLs: https://play.google.com/music/*
Styles: [The code below this comment]

Hit `Save` and refresh the page. After this you can resize the
window to it's minimum and you'll notice that the player will
take over the tiny screen.
*/

@media (max-width: 500px) {
  #oneGoogleWrapper,
  .player-top {
    display: none;
  }

  #nav-content-container {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
  }
  #player,
  #player > *,
  .player-left,
  .player-right,
  #playerSongInfo {
    width: auto !important;
    min-width: 0 !important;
    height: auto !important;
    overflow: hidden !important;
    margin: 0 !important;
    position: static;
  }
  #nowPlayingMenu {
    float: right;
    position: static;
  }
  .player-middle,
  #player-right-wrapper {
    clear: left;
    float:left !important;
  }
  .screensaver,
  .screensaver > div {
    width: 100% !important;
    height: 100% !important;
  }
  #player {
    margin: 2em auto !important;
    width: 100% !important;
  }
}
